@{
    ViewBag.Title = "底部";
}
<footer class="am_footer footer">
    <div class="am_footer_con">
        <div class="am_footer_link">
            <span>友情链接</span>
            <ul>
                <li><a href="http://www.zjzs.net/" target="_blank">浙江教育考试院</a></li>
                <li><a href="http://www.exam8.com/" target="_blank">考试吧</a></li>
                <li><a href="http://bbs.kaoyan.com/" target="_blank">考研帮</a></li>
                <li><a href="http://www.kaoyan1v1.com/" target="_blank">可锐教育</a></li>
            </ul>
           
           
            <ul>
                <li><a href="/" target="_blank">首页</a></li>
                <li><a href="/home/about" target="_blank">关于我们</a></li>
                <li><a href="/home/about" target="_blank">联系我们</a></li>
                <li><a href="/home/about" target="_blank">营业执照</a></li>
            </ul>
            <ul>
                <li><a href="/home/help" target="_blank">服务帮助</a></li>
                <li><a href="/admin/home/index" target="_blank">业务员后台</a></li>
            </ul>
        </div>
        <div class="am_footer_link">
           
        </div>
        <div class="am_footer_don">
            <span>状元乐</span>
            <dl>
                <dt>
                    <img src="~/Content/images/admin/logo_pic.png" />
                </dt>
                <dd>
                    状元乐订房服务中心，原名为状元郎订房中心 ，曾被授予“市场AAA品牌”企业，由于商标注册需要才更名。自2010年成立以来，状元乐以“真诚对待客户，对待公司成员”为原则，坚持以最诚恳的态度与人沟通！以最真挚的服务打动每一个人！作为专业的考试订房服务中心，状元乐采用了全国最新的O2O服务模式。

                    @*<a href="https://github.com/zuifengke/zyldingfang" target="_blank" class="footdon_az animated">
                            <div class="foot_d_az am-icon-github"> GitHub</div>
                        </a>*@

                </dd>

            </dl>
        </div>

        <div class="am_footer_erweima">

            <div class="am_footer_ddon">
                <img src="http://ww2.sinaimg.cn/mw690/5ce46c7dgw1f5ogtdboxqj209k09kmx3.jpg" />
                <div class="am_footer_d_dxz am-icon-cloud-download"> 手机扫码</div>
            </div>

        </div>

    </div>
    <div class="am_info_line"> @@copyright windy.studio All Rights Reserved </div>
    <div class="am_info_line-beian">
        浙ICP备13029931号-2 
        <!--友盟cnzz统计 begin-->
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1259365669'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1259365669' type='text/javascript'%3E%3C/script%3E"));</script>
        <!--友盟cnzz统计 end-->
        <!--百度统计-->
        <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "//hm.baidu.com/hm.js?e9489310b1cf9cd5168d722f4a4e0feb";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
        </script>
        <!--百度统计-->

    </div>

</footer>