<div class="am-g">
    <div class="am-u-md-2 am-u-sm-1 am-u-lg-2">&nbsp;</div>
    <div class="am-u-md-8 am-u-sm-10 am-u-lg-8">
        <div style="height:48px;">
            <script type="text/javascript">var jd_union_pid="455206069";var jd_union_euid="";</script>
            <script type="text/javascript" src="http://ads.union.jd.com/static/js/union.js"></script>
        </div>
    </div>
    <div class="am-u-md-2 am-u-sm-1 am-u-lg-2"></div>
</div>