
<div class="detail-right">
    <!-- 请置于所有广告位代码之前 -->
    <style>
        .side-box { margin-bottom: 15px; padding: 5px; overflow: hidden; background-color: #fff; border: 1px solid #ebebeb; box-shadow: 0px 1px 1px rgba(209, 212, 221, 0.15); border-radius: 0; }
    </style>

    <div class="side-box" style="margin-top: 15px;">
        <script type="text/javascript">var jd_union_unid = "1000079622", jd_ad_ids = "512:6", jd_union_pid = "CJiGmcTyKhCGgvDcAxoAILXzhtkBKgA="; var jd_width = 336; var jd_height = 280; var jd_union_euid = ""; var p = "BxYDVRNfFAUTNwpfBkgyTUMIRmtKRk9aZV8ETVxNNwpfBkgycXs0UDhAXHBlXX0oYkYXQQZYK1xfRAtZK14QBxMBUh5ZEDISBlQaWhMKFQRWK2tKRk9aZVA1FDJNQwhGaxUHFAVcH1kSBBMHUhNrFDIiNw%3D%3D";</script>
        <script type="text/javascript" charset="utf-8" src="//u.x.jd.com/static/js/auto.js"></script>
    </div>
    <div class="side-box" style="margin-top: 15px;">
        <script type="text/javascript">var jd_union_pid = "453537051"; var jd_union_euid = "";</script>
        <script type="text/javascript" src="http://ads.union.jd.com/static/js/union.js"></script>
    </div>

</div>