@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/sui/Views/Shared/_Layout.cshtml";
}
<div class="page">
    <header class="bar bar-nav">

        <h1 class="title">订单</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item disable-router" href="/sui/home/index">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item disable-router" href="/sui/star/index">
            <span class="icon icon-star"></span>
            <span class="tab-label">收藏</span>
        </a>
        <a class="tab-item active disable-router" href="#">
            <span class="icon icon-cart"></span>
            <span class="tab-label">订单</span>
        </a>
        <a class="tab-item disable-router" href="/sui/account/index">
            <span class="icon icon-me"></span>
            <span class="tab-label">我</span>
        </a>
    </nav>
    <div class="content">
        <div class="buttons-tab">
            <a href="#tab1" class="tab-link active button">全部</a>
            <a href="#tab2" class="tab-link button">待付款</a>
            <a href="#tab3" class="tab-link button">待发货</a>
        </div>
        <div class="content-block">
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="content-block">
                        <p></p>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="content-block">
                        <p></p>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="content-block">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>