* { font-size: 12px; font-family: Tahoma,Verdana,微软雅黑,新宋体; }

body { }

a { color: Black; text-decoration: none; }

a:hover { color: Red; text-decoration: underline; }

.textbox03 { border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif,宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px; font-weight: bold; width: 190px; }

.txt01 { font: Verdana, Geneva, sans-serif,宋体; padding: 3px 2px 2px 2px; border-width: 1px; border-color: #ddd; color: #000; }

.txt { border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif,宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px; }

.footer { text-align: center; color: #15428B; margin: 0px; padding: 0px; line-height: 23px; font-weight: bold; }

.head a { color: White; text-decoration: underline; }

.easyui-accordion1 ul { list-style-type: none; margin: 0px; padding: 10px; }

.easyui-accordion1 ul li { padding: 0px; }

.easyui-accordion1 ul li a { line-height: 24px; }

.easyui-accordion1 ul li div { margin: 2px 0px; padding-left: 10px; padding-top: 2px; }

.easyui-accordion1 ul li div.hover { border: 1px dashed #99BBE8; background: #E0ECFF; cursor: pointer; }

.easyui-accordion1 ul li div.hover a { color: #416AA3; }

.easyui-accordion1 ul li div.selected { border: 1px solid #99BBE8; background: #E0ECFF; cursor: default; }

.easyui-accordion1 ul li div.selected a { color: #416AA3; font-weight: bold; }

.nav { padding-left: 18px; }

.icon-sys { background: url(../images/admin/directory.png) no-repeat; }

.icon-refresh { background: url(../images/admin/refresh_16.png) no-repeat; }
.icon-import { background: url(../images/admin/import.png) no-repeat; }
.icon-permission{ background: url(../images/admin/permission_16.png) no-repeat; }
.icon-order{ background: url(../images/admin/order.png) no-repeat; }

.icon-export { background: url(../images/admin/export.png) no-repeat; }

.icon-home { background: url(../images/admin/home_16.png) no-repeat; }

.icon-stick { background: url(../images/admin/stick.png) no-repeat; }
.icon-spider { background: url(../images/admin/spider16.png) no-repeat; }

.icon { background: url(../images/admin/tabicons.png) no-repeat; width: 16px; height: 16px; position: absolute; }
/*.icon-add
{
    background-position: -19px 0px;
}*/

.icon-nav { background-position: -100px -18px; }

.icon-users { background-position: -100px -480px; }

.icon-role { background-position: -360px -200px; }

.icon-set { background-position: -380px -200px; }

.icon-log { background-position: -380px -80px; }

/* 头部样式 */
.header { width: 100%; min-width: 1024px; height: 40px; background: #FFF; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.20); z-index: 1000; }

.header-top { width: 100%; height: 50px; }

.header-top .logo { width: 168px; height: 35px; margin-left: 20px; margin-top: 10px; float: left; }

.header-nav { height: 40px; background: #000000; }

.header-nav .logo { width: 168px; height: 35px; padding-top: 5px; float: left; border-right: 3px solid #ff4200; }

.header-nav .menu { list-style-type: none; margin-left: 10 px; float: left; }

.header-nav .menu li { float: left; line-height: 40px; font-weight: bold; font-size: 14px; }

.header-nav a { color: #FFF; display: inline-block; text-decoration: none; float: left; }

.header-nav .menu li a { color: #FFF; padding: 0 15px; }

.header-nav .menu li a:hover { color: #F39C12; }

.header-nav .menu li .active { color: #FFF; padding: 0 15px; background: #999999; }

.header-nav .menu .no-right-border { background: url(../images/app.png) no-repeat left 11px; padding-left: 20px; margin-left: 10px; }

.toolbar { position: absolute; list-style-type: none; right: 5px; margin-top: 12px;; font-size: 12px; }

.toolbar li { color: #FFF; float: left; height: 20px; line-height: 16px; padding: 0 8px; background: url("") no-repeat right 0px; }

.toolbar li.last { border-right: none; background: none; }

.toolbar a { color: #FFF; float: none; }

.toolbar a:hover { color: #e74c3c; }


.cont-box-tit{  height:50px; line-height:50px; overflow:hidden; zoom:1;}
.cont-box-tit h3{  margin-left:20px; background:url(../images/sidebar-icon.png) 0 2px no-repeat; padding-left:20px; font-weight:normal; font-size:12px; display:inline;font-size:14px;color:#3d9cd0;
                   margin-top:5px;}
.cont-box-tit a.arrows{ float:right; display:inline-block; background:url(../images/layout_arrows.png) -16px -16px no-repeat; margin:16px 15px 6px 0; width:16px; height:16px; vertical-align:top;}
.cont-box-tit a.hover{ background:url(../images/layout_arrows.png) -16px 0 no-repeat;}
.cont-box-tit a.arrows:hover{ background-color:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;margin-right:}
.cont-box-in{ padding:43px 20px;  zoom:1;}
.cont-box-text tr{ height:26px; line-height:26px;}
.cont-box-text th{ font-weight:normal; text-align:right; color:#333; padding-right:5px;}
.cont-box-text td{ color:#666;}
.cont-box-text th, .cont-box-text td{ height:26px; line-height:26px; overflow:hidden;}
.cont-box-text td a{ color:#c15d00; text-decoration:underline;}
.cont-box-text td a:hover{ color:#ba2636;}
/*==box_form==*/
.cont-box-form{ width:80%; zoom:1;}
.cont-box-form .line{ padding:0 0 0 0; zoom:1;}
.cont-box-form .line .short{ float:left; line-height:26px;margin-right:2%;}
.cont-box-form .line label{  float:left; width:100px; text-align:right; height:26px; line-height:26px; white-space:nowrap; overflow:hidden; zoom:1;}
.cont-box-form .line label em{ font-style:normal; color:#f00; padding:0 5px;}
.cont-box-form .line input {width:500px;display:block;}
.cont-box-form .line input, .cont-box-form .line select, .cont-box-form .line textarea{ border:solid 1px #95b8e7; vertical-align:middle;}
.cont-box-form .line input{ height:28px !important; line-height:28px !important; width:148px ; padding:0; text-indent:5px; float:left;margin-bottom:12px;border-radius:4px;-webkit-animationborder-radius:4px;-o-border-radius:4px;}
.cont-box-form .line input#MenuName {width:80% !important;margin-bottom:1%;}
.cont-box-form .line input#MenuUrl {width:80% !important;margin-bottom:1%;}
.cont-box-form .line input#SortOrder{width:80% !important;}
.cont-box-form .line .formRad {width:76% !important;margin-bottom:1%;}
.cont-box-form .line-checkbox input{ float:none; margin:0 5px;}
.combo-text{ vertical-align:top!important; padding:0px!important; border:0 none!important; width:130px; text-indent:3px;}
.combo{ width:148px;}
.combo-p{ border:1px solid #ccc; border-top:0 none; background:#fff;}
.combobox-item{ padding-left:7px!important; cursor:pointer;}

.cont-box-form .line select{ padding:1px; height:26px; line-height:26px; width:144px; color:#666;}
.cont-box-form .line select.ml10 span.combo{ margin-left:10px;}
.cont-box-form .line textarea{ padding:3px; width:642px; height:132px; line-height:22px; margin:0;}
.cont-box-form .line p.cl{ padding-left:90px; padding-top:2px; height:16px; line-height:16px; color:#777;}
.cont-box-form .line span{ color:#666; line-height:28px;height:28px !important;}
.cont-box-form .btn{ float:left;margin-top:4%;}
.cont-box-form .btn a { width:300px;display:block; }
.cont-box-form .btn a input {float:left;}
.cont-box-form .btn a input, .cont-box-form .btn a:hover input{ background:url(../images/admin/button1-img.png) no-repeat; border:0 none; width:72px; height:26px; margin:0 10px; vertical-align:middle; cursor:pointer;}
.cont-box-form .btn a input#btn_submit {float:left;}
.cont-box-form .btn a:hover input.submit{ background-position:-106px -561px;}
.cont-box-form .btn a:hover input.return, .cont-list-form .btn a:hover input.return{ background-position:-106px -527px;}

.cont-box-form .btn a input.submit{ background-position:-106px -561px;border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;}



.cont-box-form .btn a input.return, .cont-list-form .btn a input.return{  background-position:-106px -527px; border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;}
.cont-box-form .btn a:hover input.add{ background-position:-23px 0;}
.cont-box-form .btn a:hover input.query{ background-position:-23px -319px;}
.cont-box-form .btn a input.add{ background-position:-105px 0;}
.cont-box-form .btn a input.query{ background-position:-105px -319px;}
.cont-box-form .btn a:hover input.tijiao{ background-position:-23px -464px;}
.cont-box-form .btn a:hover input.fanhui{ background-position:-23px -493px;}

.cont-box-form .btn a input.tijiao{ background-position:-105px -464px; width:72px;}
.cont-box-form .btn a input.fanhui{ background-position:-105px -493px; width:72px;}
.cont-box-form .line .long{ line-height:26px;display:inline-block;margin-bottom:10px;}
.cont-box-form .line .long span.line-checkbox{ float:left; display:block;}
.cont-box-form .line .long span.ck80{ width:80px;}
.cont-box-form .line .long span.ck150{ width:150px;}
.cont-box-form .line .long span.line-checkbox input.c{ margin-right:2px; width:20px;}
.cont-box-form .line .long span.line-checkbox input.t{ border:0 none; border-bottom:solid 1px #ddd; background:none; font-size:12px; margin-left:5px; width:70px;}
.cont-box-form .line .formRad{ float:left;}
.cont-box-form .line .formRad input{ margin:0; border:0 none; width:auto; display:inline-block;}
.cont-box-form .line .formRad span{ display:inline-block; float:left; margin:0 10px 0 3px; height:22px; line-height:22px; vertical-align:middle;}
.cont-box-form .line .promisson{ border:1px #ccc solid; padding:10px; width:78%; float:left;}
.cont-box-form .line .promisson input{ margin:0 5px 0 15px; border:0 none; width:auto; display:inline-block; float:none;}

.btn-save { background:url(../images/admin/button1-img.png) no-repeat;background-position:-106px -561px; border:0 none; width:72px; height:26px; margin:0 10px; vertical-align:middle; cursor:pointer;}
.btn-return { background:url(../images/admin/button1-img.png) no-repeat;background-position:-106px -493px; border:0 none; width:72px; height:26px; margin:0 10px; vertical-align:middle; cursor:pointer;}