@{
    ViewBag.Title = "Advert";
}
<!-- 广告位：微官网-7 -->
@*<script>
(function() {
    var s = "_" + Math.random().toString(36).slice(2);
    document.write('<div id="' + s + '"></div>');
    (window.slotbydup=window.slotbydup || []).push({
        id: '2657277',
        container: s,
        size: '20,3',
        display: 'inlay-fix'
    });
})();
</script>
<script src="http://dup.baidustatic.com/js/om.js"></script>*@

<!-- 广告位：微官网-5 -->
<script>
(function() {
    var s = "_" + Math.random().toString(36).slice(2);
    document.write('<div id="' + s + '"></div>');
    (window.slotbydup=window.slotbydup || []).push({
        id: '2657279',
        container: s,
        size: '20,2',
        display: 'inlay-fix'
    });
})();
</script>
<script src="http://dup.baidustatic.com/js/om.js"></script>