

<div class="side-box" style="margin-top: 15px;">
    <!-- 广告位：官网-8 -->
    <script>
        (function () {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div id="' + s + '"></div>');
            (window.slotbydup = window.slotbydup || []).push({
                id: '2613576',
                container: s,
                size: '336,280',
                display: 'inlay-fix'
            });
        })();
    </script>
    <script src="http://dup.baidustatic.com/js/os.js"></script>
</div>