@{
    ViewBag.Title = "广告赞助";
}
<style>
    .side-box { margin-bottom: 15px; padding: 5px; overflow: hidden; background-color: #fff; border: 1px solid #ebebeb; box-shadow: 0px 1px 1px rgba(209, 212, 221, 0.15); border-radius: 0; }
</style>


<div class="side-box" style="margin-top: 15px;">
    <!--淘宝推广-->
    <script charset="gbk" src="http://p.tanx.com/ex?i=mm_15119898_8568227_56984090"></script>
</div>

<div class="side-box" style="margin-top: 15px;">
    <!--淘宝推广-->

    <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D2hYsvlXakL0cQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAsF1GKWQXSG%2FyLijLsm%2Be5jeZj7IBDyOyBPvOn4qVscrVJqiRnZ6YVY4tWNv0VWvKOdn1BbglxZYxUhy8exlzcpAFEHVckI7b93srg%2FL%2FeD3keUEnoKELDlWYetMiZZgV%2BSx6OrKqagyklzFeKMz7CcGqhUvUL8KBsEQAuqTQrTJcSpj5qSCmbA%3D" target="_blank">

        <img src="~/Content/images/amazeui/aliyun.jpg" style="margin-bottom: 15px;" />
    </a>
</div>
<div class="side-box" style="margin-top:15px;">
    <!-- 状元乐-sidebox2-淘宝橱窗2-->
    <script charset="gbk" src="http://p.tanx.com/ex?i=mm_15119898_8568227_59320427"></script>
</div>