@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<body>

    <form id="form_list" name="form_list" method="post">

        <table id="tab_list"></table>

        <div id="tab_toolbar" style="padding: 0 2px;">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="padding-left: 2px">
                        <a href="#" onclick="$('#form_edit input').val('');OpenWin();return false;" id="a_add"
                           class="easyui-linkbutton" iconcls="icon-add">添加</a>
                        <a href="#" onclick="DelData(0);return false;"
                           id="a_del" class="easyui-linkbutton" iconcls="icon-cancel">删除</a>
                        <a href="#" onclick="InitEmpMenu();return false;"
                           id="a_menu" class="easyui-linkbutton" iconcls="icon-permission">员工权限</a>
                    </td>
                    <td style="text-align: right; padding-right: 15px">
                        <input id="ipt_search" menu="#search_menu" />
                        <div id="search_menu" style="width: 120px">
                            <div name="Author">
                                作者
                            </div>
                            <div name="Subject">
                                标题
                            </div>
                            <div name="Content">
                                内容
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <div id="edit" class="easyui-dialog" title="编辑菜单" style="width: 300px; height: 300px;"
          closed="true" buttons="#edit-buttons">
        <form id="form_edit" name="form_edit" method="post" url="EmployeeManage.aspx">
            <table class="table_edit">
                <tr>
                    <td class="tdal">
                        菜单名称：
                    </td>
                    <td class="tdar">
                        <input id="MenuName" name="MenuName" type="text" class="easyui-validatebox"
                               required="true" />
                    </td>
                </tr>
                <tr>
                    <td class="tdal">
                        路径：
                    </td>
                    <td class="tdar">
                        <input id="Url" name="Url" type="text" class="easyui-validatebox" required="true" />
                    </td>
                </tr>
                <tr>
                    <td class="tdal">
                        上级菜单：
                    </td>
                    <td class="tdar">
                        <input id="ParentID" style="width:200px" name="ParentID" value="0" />
                    </td>
                </tr>
                <tr>
                    <td class="tdal">
                        图标：
                    </td>
                    <td class="tdar">
                        <input id="Icon" name="Icon" type="text" class="easyui-validatebox" />
                    </td>
                </tr>
                <tr>
                    <td class="tdal">
                        描述：
                    </td>
                    <td class="tdar">
                        <input id="Description" name="Description" type="text" class="easyui-validatebox" />
                    </td>
                </tr>
                <tr>
                    <td class="tdal">
                        菜单类型：
                    </td>
                    <td class="tdar">
                        <select class="easyui-combobox" name="MenuType" style="width:100px" required="true">
                            @{
                                string[] menutypes = Windy.WebMVC.Web2.SystemContext.MenuType.GetMenuTypeNames();
                                foreach (string item in menutypes)
                                {
                                    <option value="@item">@item</option>
                                }
                            }

                        </select>
                    </td>
                </tr>
            </table>

        </form>
    </div>
    <div id="edit-buttons">
        <a id="btn_add" href="javascript:;" class="easyui-linkbutton">提交</a> <a href="javascript:;"
                                                                                class="easyui-linkbutton" onclick="$('#edit').dialog('close');return false;">取消</a>
    </div>
    <div id="edit_tree" class="easyui-dialog" title="设置员工功能权限" closed="true" style="width: 600px; height: 450px;">
        <div class="easyui-panel" style="width: 580px; height: 360px;">
            <table>
                <tr>
                    <td>
                        <table id="emp_list"></table>
                    </td>
                    <td style="vertical-align:top;">
                        <ul id="tree"></ul>
                    </td>
                </tr>
            </table>


        </div>
        <div id="edit-buttons_tree" style="float:right;">
            <a id="btn_add_tree" href="javascript:;" class="easyui-linkbutton">提交</a> <a href="javascript:;"
                                                                                         class="easyui-linkbutton" onclick="$('#edit_tree').dialog('close');return false;">取消</a>
        </div>
    </div>
</body>

<script>
    $(function () {
        InitGird();
        InitSearch();
        $("#edit").dialog({
            onOpen: function () {
                $('#ParentID').combotree('reload');
            }
        });
        $("#ParentID").combotree({
            url: "GetComboTree",
        });
    });
    //初始化表格
    function InitGird() {
        $('#tab_list').treegrid({
            title: '菜单列表',
            iconCls: 'icon-save',
            width: '100%', //宽度
            height: $(parent.document).find("#tabs").height() - 50 > 0 ? $(parent.document).find("#tabs").height() - 50 : 300, //高度
            nowrap: false,
            animate: true,
            url: "GetGridList",
            idField: 'id',
            treeField: 'MenuName',
            pagination: true,
            toolbar: "#tab_toolbar",
            pagination: true, //是否开启分页
            pageNumber: 1, //默认索引页
            pageSize: 50, //默认一页数据条数
            rownumbers: true, //行号
            queryParams: { "action": "query" },
            frozenColumns: [[//冻结的列，不会随横向滚动轴移动
                   { field: 'cbx', checkbox: true }
            ]],
            columns: [[
                {
                    title: '操作', field: 'id', width: 60, formatter: function (value, rec) {
                        return '<a style="color:red" href="javascript:;" onclick="EditData(' + value + ');$(this).parent().click();return false;">修改</a>&nbsp';
                    }
                },
            { field: 'MenuName', title: '菜单名称', width: 280 },

            { field: 'Url', title: '路径', width: 220 },

            { field: "Icon", title: '图标', width: 100 },
            { field: "Description", title: '描述', width: 150 },
            { field: "MenuType", title: '菜单类型', width: 100 },
            ]]
        });
    }
    //初始化搜索框
    function InitSearch() {
        $("#ipt_search").searchbox({
            width: 200,
            iconCls: 'icon-save',
            searcher: function (val, name) {
                $('#tab_list').datagrid('options').queryParams.search_type = name;
                $('#tab_list').datagrid('options').queryParams.search_value = val;
                $('#tab_list').datagrid('reload');
            },
            prompt: '请输入要查询的信息'
        });
    }

    //打开添加窗口
    function OpenWin() {
        $("#edit").dialog("open");
        $("#edit-buttons a:first").attr("onclick", "Add(0); return false;")
    }
    function GetInputData(id, cmd) {
        var postdata = "{ \"action\":\"" + cmd + "\",";
        $("#" + id + " input[type!='checkbox']").each(function () {
            postdata += "\"" + $(this).attr("name") + "\":\"" + $(this).val() + "\",";
        });
        $("#" + id + " input[type='checkbox']").each(function () {
            postdata += "\"" + $(this).attr("name") + "\":\"" + this.checked + "\",";
        });
        postdata = postdata.substr(0, postdata.length - 1);
        postdata += "}";
        return eval("(" + postdata + ")");
    }

    //提交按钮事件
    function Add(uid) {
        if (!$("#form_edit").form("validate")) {
            return;
        }
        var json = GetInputData('edit', 'submit');

        json.id = uid;
        $.post("Update", json, function (data) {
            $.messager.alert('提示', data, 'info', function () {
                if (data.indexOf("成功") > 0) {
                    console.info(data);
                    $("#tab_list").treegrid("reload");
                    $("#edit").dialog("close");
                }
            });
        });
    }

    //修改链接 事件
    function EditData(uid) {
        $("#edit").dialog("open");
        $("#btn_add").attr("onclick", "Add(" + uid + "); return false;")

        $.post("QueryOneData", { "id": uid }, function (data) {
            var dataObj = eval("(" + data + ")"); //转换为json对象
            //console.info(dataObj);
            $("#form_edit").form('load', dataObj);
        });
    }

    //删除按钮事件
    function DelData(id) {
        $.messager.confirm('提示', '确认删除？', function (r) {
            if (r) {
                var selected = "";
                if (id <= 0) {
                    $($('#tab_list').datagrid('getSelections')).each(function () {
                        selected += this.id + ",";
                    });
                    selected = selected.substr(0, selected.length - 1);
                    if (selected == "") {
                        $.messager.alert('提示', '请选择要删除的数据！', 'info');
                        return;
                    }
                }
                else {
                    selected = id;
                }
                $.post("DelData", { "cbx_select": selected }, function (data) {
                    $.messager.alert('提示', data, 'info', function () {
                        $("#tab_list").treegrid("reload");
                    });
                    $('#tab_list').datagrid('clearSelections');
                });
            }
        });
    }

    function InitEmpMenu() {
        $("#edit_tree").dialog("open");
        $('#emp_list').datagrid({
            title: '员工列表', //表格标题
            url: "GetEmpList", //请求数据的页面
            sortName: 'ID', //排序字段
            singleSelect: true,
            idField: 'ID', //标识字段,主键
            iconCls: '', //标题左边的图标
            width: 300, //宽度
            rownumbers: true, //行号
            striped: true, //隔行变色
            height: 350, //高度
            nowrap: false, //是否换行，True 就会把数据显示在一行里
            striped: true, //True 奇偶行使用不同背景色
            sortOrder: 'desc', //排序类型
            remoteSort: true, //定义是否从服务器给数据排序
            columns: [[
                { title: '', field: 'ID', hidden: true },
                { title: '账号', field: 'EmpNo', width: 150 },

                { title: '姓名', field: 'Name', width: 150 }
            ]],
            queryParams: {},
            onSelect: function (rowIndex, rowData) {
                SetEmpMenu(rowData.ID);
            }
        });
        SetEmpMenu(0);
    }
    //员工权限
    function SetEmpMenu(empid) {

        $("#edit-buttons_tree a:first").attr("onclick", "submitTree(" + empid + "); return false;");
        $('#tree').tree({
            url: 'GetMenuTree?empid=' + empid,
            checkbox: true,
            onClick: function (node) {

            }
        });
    }
    function submitTree(empid) {
        var nodes = $('#tree').tree('getChecked', ['checked', 'indeterminate']);
        var s = '';
        for (var i = 0; i < nodes.length; i++) {
            if (s != '') s += ',';
            s += nodes[i].id;
        }

        //提交机构树选择结果
        $.post("SaveByEmpID", { "MenuID": s, "EmpID": empid }, function (data) {
            $.messager.alert('提示', data, 'info', function () {

            });
        });

    }

</script> 