<?xml version="1.0" encoding="utf-8"?>
<SiteConfig>
 <add key="SiteName" value="Ninesky2" />
 <add key="SiteTitle" value="Ninesky2" />
 <add key="SiteUrl" value="www.zyldingfang.com" />
 <add key="MetaKeywords" value="关键词，22" />
 <add key="MetaDescription" value="描述22" />
 <add key="Copyright" value="Ninesky 版权所有&lt;a&gt;11&lt;/a&gt;22" />
 <add key="MenuName" value="首页,返利,订房,我,头条" />
 <add key="ServerPath" value="d:\git\Clinic\Clinic.Web\" />
</SiteConfig>
