<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta content="windy" name="author" />
   


</head>

<body>
    @RenderBody()

</body>
</html>
