@{
    ViewBag.Title = "Index";
}
@model Windy.WebMVC.Web2.Models.OAuthUser
<h2>Index</h2>
<ul>
    <li><span>用户昵称：</span>@Model.NickName</li>
    <li><span>省份：</span>@Model.Province</li>
    <li>@Model.Sex</li>
    <li>@Model.Tel</li>
</ul>