@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/sui/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <header class="bar bar-nav">

        <h1 class="title">收藏</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item disable-router" href="/sui/Home/Index">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item active disable-router" href="#">
            <span class="icon icon-star"></span>
            <span class="tab-label">收藏</span>
        </a>
        <a class="tab-item disable-router" href="/sui/order/index">
            <span class="icon icon-cart"></span>
            <span class="tab-label">订单</span>
        </a>
        <a class="tab-item disable-router" href="/sui/Account/Index">
            <span class="icon icon-me"></span>
            <span class="tab-label">我</span>
        </a>
    </nav>
    <div class="content">
        
    </div>
</div>
